// COLORS
$pink: #E9B0AA;
$green: #487251;
$darkGreen: #164520;
$lightGray: #cdcdcd;
$darkGray: #353535;
$black: #000000;

$btn-gray-hover: #000000;

// BORDERS
$border-black: .22rem solid #000;

// FONTS
$heading-font:'Inter', sans-serif;
$body-font: 'Inter', sans-serif;

// TEXT SIZES
$large-heading-font-size: 2.9rem;
$heading-font-size: 1.75rem;
$body-font-size: 1.2rem;
$small-font-size: 0.9rem;
$btn-font-size: 1.3rem;